header {
  background-color: #333; }
  header h1 {
    color: #fff;
    font-size: 40px;
    text-align: center; }

.menu-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .menu-nav li {
    background: #333;
    margin: 10px auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 10px 20px; }
    .menu-nav li a {
      color: #999; }
    .menu-nav li:hover {
      border: 1px solid #f9d120; }
      .menu-nav li:hover a {
        color: #f9d120; }
