@import '../../assets/sass/_modules/vars';

header{
	background-color:$darkGray;
	h1{
		color:$white;
		font-size: 40px;
		text-align:center;
	}
}
.menu-nav{
	display: flex;
	flex-direction:row;
	width: 100%;
	justify-content:center;
	align-items:center;
	li{
		background: $darkGray;
		margin: 10px auto;
		border: 1px solid transparent;
		box-sizing:border-box;
		padding: 10px 20px;
		a{
			color:$lightGray;
		}
	&:hover{
		border:1px solid $yellow;
		a {	
			 color:$yellow;
		}
	}
	}
}