<header class="header">
	<h1>STAR WARS DATA</h1>
	<nav class="menu-nav">
		<ul class="wrapper-nav">
			<li class="list-nav">
				<a [routerLink]="['/']">Films</a>
			</li>
			<li class="list-nav">
				<a [routerLink]="['/people']">People</a>
			</li>
			<li class="list-nav">
				<a [routerLink]="['/planets']">Planets</a>
			</li>
			<li class="list-nav">
				<a [routerLink]="['/species']">Species</a>
			</li>
			<li class="list-nav">
				<a [routerLink]="['/starships']">Starships</a>
			</li>
			<li class="list-nav">
				<a [routerLink]="['/vehicles']">Vehicles</a>
			</li>
		</ul>
	</nav>
</header>