@import "../../assets/sass/_modules/vars";

.placeholder-info{
  padding:5px 20px;
  background: $mediumGray2;
}
.list-atributes{
  li{
    padding: 5px;
    box-sizing: border-box;
    color:$white;
    display: list-item;
    margin: 5px 0;

  }
}
