<section class="placeholder-info" *ngIf="selected != null">
  <ul>
    <li class="item">
      <h4>{{selected.name}}</h4>
      <ul class="list-atributes">
        <li> Especie: {{selected.species}}</li>
        <li>Peso: {{selected.height}}</li>
        <li>Color de ojos: {{selected.eye_color }}</li>
        <li>Color de cabello: {{selected.hair_color}}</li>
        <li>Genero: {{selected.gender}}</li>
        <li>Fecha de nacimiento: {{selected.birth_year}}</li>
      </ul>

    </li>
  </ul>
</section>

<section class="container-grid ">
  <ul>
    <li class="item item-4" *ngFor=" let person of characters" (click)="selectCharacter(person)">
      <h3>{{person.name}}</h3>
    </li>
  </ul>
  <a class="btn-more" (click)="moreCharacters()">Más Personajes</a>
</section>
