/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans"; }

li {
  display: inline-block; }

a {
  color: #333;
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

section {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%; }

.container-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: stretch; }
  .container-grid .item {
    cursor: pointer;
    padding: 10px;
    width: 33%;
    border: 5px solid white;
    background: #333;
    color: #fff;
    box-sizing: border-box; }
    .container-grid .item .title-card {
      margin: 5px 0; }
    .container-grid .item:hover {
      background: #f9d120;
      color: #333; }

.btn-more {
  box-sizing: border-box;
  background: #1786de;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer; }
