@import "../../assets/sass/_modules/vars";
.placeholder-info{
  background:$lightGray;
  padding: 30px ;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:$white;
  span{
    font-size: 20px;
  }
  p{
    margin-top: 10px;
    line-height: 1.5rem;
  }
}
