<div class="breadcrumbs" >
  <ul></ul>
</div>
<section class="placeholder-info" *ngIf="filmselected != undefined">
  <div class="full-card">
    <h4>{{filmselected.title}}</h4>
    <p>{{filmselected.director}}</p>
    <p>{{filmselected.producer}}</p>
    <p>{{filmselected.release_date}}</p>

    <p></p>
  </div>
</section>
<section class="container-grid">
  <ul>
    <li class="item card" *ngFor="let film of  films" (click)="cardSelected(film)" >
      <h3 class="title-card uppercase">{{film.title}}</h3>
      <span class="episode">{{film.episode_id}}</span>
      <span class="release-date">{{film.release_date}}</span>
    </li>
  </ul>
</section>
